[Unit]
Description=Radio_RC1
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/conquest/app/radio/radio.py
WorkingDirectory=/home/conquest/app/radio
StandardOutput=inherit
StandardError=inherit
Restart=always
User=conquest

[Install]
WantedBy=multi-user.target
